In [2]:
import pandas as pd
import traceback
import numpy as np
import os
import glob

In [3]:
dow_file = os.path.join("output","dow", "AAPL_2019-01-02_2020-09-30.csv")
df = pd.read_csv(dow_file)

In [4]:
df.head()

,Unnamed: 0,open,high,low,close,adjclose,volume,ticker
0,2019-01-02,38.722500,39.712502,38.557499,39.480000,38.629097,148158800,AAPL
1,2019-01-03,35.994999,36.430000,35.500000,35.547501,34.781353,365248800,AAPL
2,2019-01-04,36.132500,37.137501,35.950001,37.064999,36.266144,234428400,AAPL
3,2019-01-07,37.174999,37.207500,36.474998,36.982498,36.185429,219111200,AAPL
4,2019-01-08,37.389999,37.955002,37.130001,37.687500,36.875229,164101200,AAPL